body {
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
}


/* nav bar extra section(for bonus marks) */
nav {
    display: flex;
    justify-content: end;
    align-items: center;
    margin: auto;

}

nav>ul {
    display: flex;
    align-items: center;
    gap: 20px;
}

nav li {
    list-style: none;
    margin-right: 10 px;
    font-size: medium;
}

nav a {
    text-decoration: none;
    color: palevioletred;
}

.section-header {
    text-align: center;
}

.text-description {
    text-align: center;
}

.main-2 {
    width: 1400px;
    height: 400px;
    background-color: hotpink;
}

.main-header {
    color: white;
}

.main-text {
    color: white;
}

.lisbon {
    color: white;
}

.multimedia {
    color: white;
}

.img {
    display: flex;
}

.banner-header {
    display: flex;
    gap: 50px;
}

.publicatons {
    margin-left: 20px;
}


.header-1 {
    display: flex;
    align-items: center;
}

.btn-primary {
    background-color: hotpink;
    border: 0;
    border-radius: 5px;

    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
}

.btn-secondary{background-color:darkgrey;}

banner-header {
    display: flex;
}

.main {
    display: flex;
    align-items: center;
}

container-2 {
    display: flex;
}

.Funny Videos {
    text-decoration-color: darkmagenta;
}

.images {
    display: flex;
    gap: 10px;
}

.multimedia-artist {
    display: flex;
}

.footer-header {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Gamer {
    color: hotpink;
}

.container-4 {
    width: 1400px;
    height: 300px;
    background-color: black;
}

.footer-title {
    color: white;
    list-style: none;
    margin-right: 10 px;
    font-size: medium;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

.copy {
    color: white;
    text-align: center;
}